.model-descr {
  padding: 70px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__contacts {
    padding-right: 80px;
  }
  &__available {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 75px;
    background-color: $green;
    color: #fff;
    width: max-content;
    margin: 0 auto 30px;
  }
  &__img {
    max-width: 100%;
    max-height: 180px;
    object-fit: contain;
    margin-bottom: 30px;
  }
  &__call {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    max-width: 100%;
  }
  &__link {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  &__mail {
    margin-bottom: 20px;
  }
  &__main {
    width: 100%;
  }
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 40px;
  }
  &__item {
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    margin: 2px 0;
    padding-left: 15px;
    position: relative;
    &::before{
        content: '';
        width: 5px;
        height: 5px;
        background-color: $blue;
        position: absolute;
        top: 10px;
        left: 0;
    }
  }
}
